<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ article.title }}</title>
  <link rel="stylesheet" href="{% static 'article.css' %}">
</head>

<body class="article">

  <div class="topbar">
  <div class="brand">
    <img
      src="https://lmsdo.rea.ru/pluginfile.php/14876/course/overviewfiles/8.png"
      class="brand-logo"
      alt="Лого"
    >
  </div>

  <a class="topbar-link" href="/">Все статьи</a>
</div>

  <h1 class="title">{{ article.title }}</h1>

  <div class="meta">
    <div class="author">{{ article.author.username }}</div>
    <div class="date">{{ article.created_date }}</div>
  </div>

  <div class="text">
    {{ article.text }}
  </div>

</body>
</html>
